
bin/
obj/
!**/bin/Debug*/
!**/obj/Debug*/


*.cache
*.suo
*.user
*.userosscache
*.sln.docstates
*.pdb


.vs/
.vscode-test/


.idea/
*.sln.iml


packages/
.nuget/

**/watch/

.dotnet/

coverage*.json
coverage*.xml
TestResults/
__pycache__/


**/secrets.json

*.PublishSettings
*.pubxml
*.yml.swp
*.env
*.env.* 

local.settings.json


.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
ehthumbs.db

*~

tmp/
temp/
*.tmp
*.bak
*.swp
*.swo
*.orig

**/obj/Docker/
docker-compose.override.*
*.tar

**/node_modules/


artifacts/
publish/
dist/

appsettings.json

DockerFile
docker-compose.yml
